### Notebook to test the Wine Contest with results from Peter Guth

Carlos H Grohmann
2022

In [1]:
# imports
import sys,os
import pandas as pd
import numpy as np
from scipy.special import ndtri
import seaborn as sns

import demix_wine_functions as dw
from IPython.display import display

import qgrid

# set data dir -CHANGE TO YOURS HERE!!
base = '/mnt/d'
# base = '/home/guano'
datadir = f'{base}/Dropbox/USP/projetosPesquisa/Global_DEMs/DEMIX/SG_2/wine_jupyter/csv_files/files_2022_05_11'
tables_dir = f'{base}/Dropbox/USP/projetosPesquisa/Global_DEMs/DEMIX/SG_2/wine_jupyter/Friedmans_tables'

# list csv files
csv_files = os.listdir(datadir)
print('Available CSV files: \n')
for f in csv_files:
    print(f)

Available CSV files:

Elev_diff_stats.csv
Roughness_diff_stats.csv
Slope_diff_stats.csv

In [5]:
# define here a list of the files to be opened:
# selected_csv_files = csv_files # opens ALL the files
selected_csv_files = ['Elev_diff_stats.csv','Roughness_diff_stats.csv','Slope_diff_stats.csv']


# make df with one criterion per row
df_criteria = dw.make_criteria_df(selected_csv_files,datadir)

# make a list of dems, will use it later
mtrc_idx  = list(df_criteria.columns).index('METRIC')
dem_list  = list(df_criteria.columns)[mtrc_idx+1:]

# qshow(df_criteria)
grid = qgrid.QGridWidget(df=df_criteria)
display(grid)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [8]:
# get changed (or not) df from qgrid
df_for_ranking = grid.get_changed_df()

# calculate ranks for criteria (error metrics) in dataframes
df_ranks = dw.make_rank_df(df_for_ranking,dem_list)
# df_ranks.iloc[:13,[4,5,6,7,8,9,10,11,12,13,14,15]]
# df_ranks

#friedman stats
dw.friedman_stats(df_ranks,dem_list,tables_dir,cl=0.05)
print()

# DEMs ranked
dw.print_dems_ranked(df_ranks,dem_list)
print()

# apply Bonferroni-Dunn test
df_bd = dw.bonferroni_dunn_test(df_ranks,dem_list,alpha=0.95)
df_bd.style.applymap(lambda v: 'opacity: 0%;' if (v==0) else None)

n = 1482 (number of criteria)
k = 6 (number of DEMs)
cf = 108927.0
sum of ranks = 25716.0
sum of ranks squared = 102828.0
chi_r = 9693.850
For k=6, CL=0.05, and N=1482, the critical value to compare is chi_crit=11.038
Yay!! We can reject the null hipothesis and go to the Post-Hoc analysis!!

             rank_sum  rank
FABDEM_rank    2784.0   1.0
COP_rank       3232.0   2.0
ALOS_rank      3557.0   3.0
NASA_rank      4881.0   4.0
SRTM_rank      5231.0   5.0
ASTER_rank     6031.0   6.0